body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

header {
  background-color: #222222;
  color:#f4f4f4;
  padding: 50px;
  display: flex;
  align-items: center;
  width: 10%;
  max-width: 1200px;
  float: left;

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 130px;
  margin-bottom: 10px;
}
.username {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 900px;
}


.sidebar {
  background-color: #333;
  color: #f4f4f4;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  box-sizing: border-box;
  height: 100vh;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin-bottom: 10px;
}
.sidebar a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.sidebar a:hover{
  color: #4caf50;
  font-size: 18px;
  font-weight: bold;
}

main.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 15px;
}

section {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 0;
  color: #333;
}

.performance-stats canvas {
  width: 70%;
  height: 400px;

}
